button.large {
  @apply -bg--fridge-primary -text--fridge-white font-dohyeon w-full h-[50px] rounded-[15px] text-[17px] mt-[30px] py-[14px] mx-auto;
}

button.small {
  @apply -bg--fridge-primary -text--fridge-white font-dohyeon w-[204px] h-[40px] rounded-[15px] text-[20px] mt-[30px];
}
