@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* font */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* @import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff'); */
