.nav{
  @apply fixed left-0 right-0 bottom-0 bg-white
    after:content-['']
    after:absolute
    after:top-0
    after:right-0
    after:bottom-0
    after:left-0
    after:z-[-1]
    after:shadow-[rgba(17,17,26,0.07)_0px_-4px_16px,rgba(17,17,26,0.01)_0px_-12px_48px];
}

.items{
  @apply flex justify-around text-center max-w-[820px] m-auto
}

.item {
  @apply w-1/4 h-16 flex items-center justify-center flex-col;
}

.icon {
  @apply w-7 h-auto;
}

.text{
  @apply text-sm -text--fridge-nav-gray;
}